* {
    font-family: Verdana;
    text-align: center;
    background-color: aliceblue;
    list-style: none;
    margin: 0%;
    padding: 1% 7%;
}
ul{
    border-radius: 5px;
}
form * {
    border-color: black;
    background-color: #def;
}
label{
    display: block;
    margin: .5em 0 0 0;
}
input{
    border-radius: 5px;
    width: 250px;
    background-color: aliceblue;
}
#header{
    font-size: 200%;
}
img{
    height:100px;
    width:100px;
}
.button{
    background-image: url("./button.png");
    height:100px;
    width:100px;
    background-position:center;
}
